/* Color Definition */
@import "colors";

/* Animations */
@keyframes fade-in {
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}
@keyframes fade-out {
    99%{
        pointer-events: auto;
    }
    100%{
        pointer-events: none;
        opacity: 0;
    }
}
* {
    font-family: Roboto;
}
body{
    margin:0;
}
h1 {
    font-family: "Shrikhand";
    text-align: center;
}
button {
    text-decoration: none;
    border-radius: 32px;
    font-weight: bold;
    color: $c_white;
    background-color: $c_violet;
    background: linear-gradient($c_pink, $c_violet);
    padding: .75rem 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    &:hover{
        background: lighten($c_pink,0.5%);
    }
}
.spinning-loader{
    width: 100%;
    height: 100vh;
    background-color: lighten($color: $c_violet, $amount: 20%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:fade-out .5s 3s ease-out forwards;
    &::before{
        content:"";
        border:4px solid $c_violet;
        border-bottom: 4px solid transparent;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        animation: spin 2s infinite linear;
    }
}

#choixResto {
    background-color: $c_grayLight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #cacfd2;
        font-weight: bold;
        width: 100%;
    }
    p{
        padding: 1rem;
    }
}
#choixResto div i {
    margin-right: 0.5rem;
}

#choixResto .title {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto 0.5rem;
}
#fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}
#fonctionnement h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 2rem 0.5rem 1rem;
}
#fonctionnement div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f4;
    box-shadow: 10px 5px 5px #cacfd2;
    border-radius: 24px;
    width: 80%;
    max-width: 30rem;
    height: 5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 0 0.5rem;
    cursor: pointer;
}
#fonctionnement .etape {
    width: 15rem;
}
#fonctionnement .num {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #9356dc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 24px;
}
#fonctionnement div:hover {
    background-color: lighten(#9356dc,35%);
    i {
        color: #9356dc;
    }
}
#fonctionnement div i {
    color: grey;
    margin: 0 1rem 0 1.5rem;
}
.icoheartP{
    display: none;
}
.far:hover{
    color: $c_violet;
    cursor: pointer;
}
.fa-heart:hover{
    color: $c_violet;
}
#changeHeartGout, #changeHeartNote, #changeHeartFr, #changeHeartSens {
    display: none;
    &:checked + .icoheartV{
        display: none;
        &+ .icoheartP{
            display: block;
        }
    }
    &:checked + .icoheartP{
        display: block;
    }
}
#restaurants {
    background-color: #f2f3f4;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    a{
        text-decoration: none;
        color: black;
    }
    .item{
        width: 100%;
        margin: 0 auto 1.5rem;
        border-radius: 16px;
        background-color: white;
        line-height: 1;
        position: relative;
        > div{
            display: flex;
            padding: .5rem;
            justify-content: space-between;
            align-items: center;
            p{
                margin: .5rem;
            }
            .fas{
                color: $c_violet;
            }
            div{
                display: flex;
                flex-direction: column;
                a{
                    margin: .5rem;
                }
            }
        }
        img{
            width: 100%;
            margin: 0 auto;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            height: 12rem;
            object-fit: cover;
            z-index: 10;
        }
        .new{
            position: absolute;
            top: .5rem;
            right: 1rem;
            width: 5rem;
            height: 1rem;
            background-color: $c_cyan;
            color: green;
            display: flex;
            justify-content: center;
            z-index: 100;
            border-radius: 6px;
        }
        .nom{
            font-weight: bold;
        }
    }
}
@media (min-width: 980px) {
    main{
        width: 100%;
        margin: 0 auto;
    }
    section{
        width: auto;
        margin: 0 25%;
    }
    #choixResto{
        width: 100%;
        margin: 0;
    }
    #restaurants{
        border-radius: 24px;
    }
}
// -----------------------------------------<Menu----------------------------------------------
.hMenu{
    position: relative;
    a{
        color: $c_grayDark;
    }
    i{
        position: absolute;
        top: 30%;
        left: 5%;
    }
}
#title{
    position: relative;
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12rem;
        padding: 0 2rem;
        border-top-left-radius:  24px;
        border-top-right-radius:  24px;
        background-color: $c_grayLight;
    }
    img{
        position: absolute;
        top: -12rem;
        z-index: -1;
        width: 100%;
        height: auto;
    }
    h2{
        font-family: "Shrikhand";
    }
}
#carte{
    background-color: $c_grayLight;
    padding: 1rem;
    h3{
        margin: 0;
        font-weight: lighter;
        color: $c_grayDark;
        &::after{
            display: block;
            content:"";
            width: 2rem;
            height: 2px;
            background-color: $c_cyan;
            margin: .2rem 0 1rem;
        }
    }
    .plat{
        opacity: 0;
        animation: fade-in .6s ease-out forwards;
        transform: translateY(-5px);
        color:$c_black;
        background-color: $c_white;
        border-radius: 24px;
        margin-bottom: 1rem;
        display: flex;
        align-items: stretch;
        overflow: hidden;
        cursor: pointer;
        span{
            font-weight: bold;
        }
        .price{
            align-self: flex-end;
        }
        @for $i from 1 through 15{
            &:nth-of-type(#{$i}){
                animation-delay: $i*0.15s;
            }
        }
        .plat-content{
            position:relative;
            display: flex;
            align-items: flex-start;
            overflow: hidden;
            padding: 1rem;
            flex:1;
            .description{
                max-width: 90%;
                p{
                    margin: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 100%;
                }
            }
            .price{
                margin-left: auto;
                display: block;
            }
        }
        .animCheck{
            width: 0;
            background-color: $c_cyan;
            color: $c_white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.7rem;
            transition: width .3s;
            i{
                transition: transform .6s;
                transform: rotate(0);
            }
        }
        &:hover .animCheck{
            width: 4rem;
            i{transform: rotate(360deg);}
        }
    }

}
#commande{
    background-color: $c_grayLight;
    display: flex;
    justify-content: center;
}
// -----------------------------------------Menu/>----------------------------------------------
footer {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    line-height: 1.5;
    h3 {
        margin-bottom: 1rem;
        font-family: "Shrikhand";
        font-weight: 100;
    }
    .fas {
        width: 1rem;
    }
    a{
        color: $c_white;
    }
    padding: 1rem;
    background-color: $c_grayDark;
    color: $c_white;
}
@media (min-width: 980px) {
    footer{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        >div, >a{
            margin: 0 1.5rem;
        }
        >a{
            text-decoration: underline;
        }
    }
}

.step-list{
    &__item{
        &--red{
            color:$c_pink;
        }
    }
}
