/* Color Definition */
/* Color definition */
/* Animations */
@-webkit-keyframes fade-in {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade-out {
  99% {
    pointer-events: auto;
  }
  100% {
    pointer-events: none;
    opacity: 0;
  }
}

@keyframes fade-out {
  99% {
    pointer-events: auto;
  }
  100% {
    pointer-events: none;
    opacity: 0;
  }
}

* {
  font-family: Roboto;
}

body {
  margin: 0;
}

h1 {
  font-family: "Shrikhand";
  text-align: center;
}

.spinning-loader {
  width: 100%;
  height: 100vh;
  background-color: #c9abee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fade-out .5s 3s ease-out forwards;
          animation: fade-out .5s 3s ease-out forwards;
}

.spinning-loader::before {
  content: "";
  border: 4px solid #9356dc;
  border-bottom: 4px solid transparent;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

.bouton {
  text-decoration: none;
  border-radius: 32px;
  -webkit-box-shadow: 10px 5px 5px gray;
          box-shadow: 10px 5px 5px gray;
  font-weight: bold;
  color: #fff;
  background-color: #9356dc;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  padding: 1rem 1.25rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.bouton:hover {
  background: #ff7cdb;
  -webkit-box-shadow: 10px 5px 5px #4d4d4d;
          box-shadow: 10px 5px 5px #4d4d4d;
}

#choixResto {
  background-color: #f2f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

#choixResto .town {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cacfd2;
  font-weight: bold;
  width: 100%;
}

#choixResto p {
  padding: 1rem;
}

#choixResto div i {
  margin-right: 0.5rem;
}

#choixResto .title {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem auto 0.5rem;
}

#fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fonctionnement h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 2rem 0.5rem 1rem;
}

#fonctionnement div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f3f4;
  -webkit-box-shadow: 10px 5px 5px #cacfd2;
          box-shadow: 10px 5px 5px #cacfd2;
  border-radius: 24px;
  width: 80%;
  max-width: 30rem;
  height: 5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
  cursor: pointer;
}

#fonctionnement .etape {
  width: 15rem;
}

#fonctionnement .num {
  position: absolute;
  top: 50%;
  left: 0;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  background-color: #9356dc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 24px;
}

#fonctionnement div:hover {
  background-color: #f2eafb;
}

#fonctionnement div:hover i {
  color: #9356dc;
}

#fonctionnement div i {
  color: grey;
  margin: 0 1rem 0 1.5rem;
}

.far:hover {
  color: #9356dc;
  cursor: pointer;
}

.fa-heart:hover {
  color: #9356dc;
}

#changeHeartGout {
  display: none;
}

#changeHeartGout + .icoheart {
  position: relative;
}

#changeHeartGout + .icoheart > .far {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#changeHeartGout + .icoheart > .fas {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#changeHeartGout:checked + .icoheart > .far {
  opacity: 0;
}

#changeHeartGout:checked + .icoheart > .fas {
  opacity: 1;
}

#changeHeartNote {
  display: none;
}

#changeHeartNote + .icoheart {
  position: relative;
}

#changeHeartNote + .icoheart > .far {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#changeHeartNote + .icoheart > .fas {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#changeHeartNote:checked + .icoheart > .far {
  opacity: 0;
}

#changeHeartNote:checked + .icoheart > .fas {
  opacity: 1;
}

#changeHeartFr {
  display: none;
}

#changeHeartFr + .icoheart {
  position: relative;
}

#changeHeartFr + .icoheart > .far {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#changeHeartFr + .icoheart > .fas {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#changeHeartFr:checked + .icoheart > .far {
  opacity: 0;
}

#changeHeartFr:checked + .icoheart > .fas {
  opacity: 1;
}

#changeHeartSens {
  display: none;
}

#changeHeartSens + .icoheart {
  position: relative;
}

#changeHeartSens + .icoheart > .far {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#changeHeartSens + .icoheart > .fas {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#changeHeartSens:checked + .icoheart > .far {
  opacity: 0;
}

#changeHeartSens:checked + .icoheart > .fas {
  opacity: 1;
}

#restaurants {
  background-color: #f2f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
}

#restaurants a {
  text-decoration: none;
  color: black;
}

#restaurants .item {
  width: 100%;
  margin: 0 auto 1.5rem;
  border-radius: 16px;
  background-color: white;
  line-height: 1;
  position: relative;
}

#restaurants .item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#restaurants .item > div p {
  margin: .5rem;
}

#restaurants .item > div .fa-heart {
  cursor: pointer;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  color: transparent;
  position: absolute;
  right: 0;
}

#restaurants .item > div .far {
  background-color: white;
  color: black;
}

#restaurants .item > div .fas {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
}

#restaurants .item > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#restaurants .item > div div a {
  margin: .5rem;
}

#restaurants .item img {
  width: 100%;
  margin: 0 auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
}

#restaurants .item .new {
  position: absolute;
  top: .5rem;
  right: 1rem;
  width: 5rem;
  height: 1rem;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  border-radius: 6px;
}

#restaurants .item .nom {
  font-weight: bold;
}

@media (min-width: 980px) {
  main {
    width: 100%;
    margin: 0 auto;
  }
  section {
    width: auto;
    margin: 0 25%;
  }
  #choixResto {
    width: 100%;
    margin: 0;
  }
  #restaurants {
    border-radius: 24px;
  }
}

.hMenu {
  position: relative;
}

.hMenu a {
  color: #252727;
}

.hMenu i {
  position: absolute;
  top: 30%;
  left: 5%;
}

#title {
  position: relative;
}

#title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12rem;
  padding: 0 2rem;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: #f2f3f4;
}

#title img {
  position: absolute;
  top: -12rem;
  z-index: -1;
  width: 100%;
  height: auto;
}

#title h2 {
  font-family: "Shrikhand";
}

#title .fa-heart {
  cursor: pointer;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  color: transparent;
  position: absolute;
  right: 0;
}

#title .far {
  background-color: #f2f3f4;
  color: black;
}

#title .fas {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
}

#carte {
  background-color: #f2f3f4;
  padding: 1rem;
}

#carte h3 {
  margin: 0;
  font-weight: lighter;
  color: #252727;
}

#carte h3::after {
  display: block;
  content: "";
  width: 2rem;
  height: 2px;
  background-color: #99E2D0;
  margin: .2rem 0 1rem;
}

#carte .plat {
  opacity: 0;
  -webkit-animation: fade-in .6s ease-out forwards;
          animation: fade-in .6s ease-out forwards;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: black;
  background-color: #fff;
  border-radius: 24px;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
  cursor: pointer;
}

#carte .plat span {
  font-weight: bold;
}

#carte .plat .price {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#carte .plat:nth-of-type(1) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

#carte .plat:nth-of-type(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#carte .plat:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

#carte .plat:nth-of-type(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#carte .plat:nth-of-type(5) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

#carte .plat:nth-of-type(6) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

#carte .plat:nth-of-type(7) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

#carte .plat:nth-of-type(8) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#carte .plat:nth-of-type(9) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

#carte .plat:nth-of-type(10) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#carte .plat:nth-of-type(11) {
  -webkit-animation-delay: 1.65s;
          animation-delay: 1.65s;
}

#carte .plat:nth-of-type(12) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

#carte .plat:nth-of-type(13) {
  -webkit-animation-delay: 1.95s;
          animation-delay: 1.95s;
}

#carte .plat:nth-of-type(14) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

#carte .plat:nth-of-type(15) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}

#carte .plat .plat-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#carte .plat .plat-content .description {
  max-width: 90%;
}

#carte .plat .plat-content .description p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

#carte .plat .plat-content .price {
  margin-left: auto;
  display: block;
}

#carte .plat .animCheck {
  width: 0;
  background-color: #99E2D0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.7rem;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#carte .plat .animCheck i {
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#carte .plat:hover .animCheck {
  width: 4rem;
}

#carte .plat:hover .animCheck i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#commande {
  background-color: #f2f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8rem;
  line-height: 1.5;
  padding: 1rem;
  background-color: #252727;
  color: #fff;
}

footer h3 {
  margin-bottom: 1rem;
  font-family: "Shrikhand";
  font-weight: 100;
}

footer .fas {
  width: 1rem;
}

footer a {
  color: #fff;
}

@media (min-width: 980px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  footer > div, footer > a {
    margin: 0 1.5rem;
  }
  footer > a {
    text-decoration: underline;
  }
}

.step-list__item--red {
  color: #ff79da;
}
/*# sourceMappingURL=main.css.map */